# Gradle
.gradle/
build/

# macOS
.DS_Store
**/.DS_Store

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.settings/
.classpath
.project

# VS Code
.vscode/

# Java build output
bin/
out/
target/
build/

# Compiled files
*.class
*.jar
*.war

# Logs
*.log

# OS generated
Thumbs.db
